@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utilities for text clamping */
.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
/* Hide default calendar icon in Chrome, Safari, Edge */
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}

/* Hide in Firefox */
input[type="date"] {
  -moz-appearance: textfield;
}

/* Optional: Prevent extra padding where the icon was */
input[type="date"] {
  position: relative;
}

body {
  font-family: 'Poppins', sans-serif;
 
}